<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="../css/nav_bar.css" rel="stylesheet" type="text/css">
    <link href="../css/main_page.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>CSC648-02-fa22-team04</title>
</head>


<body>

  <header>
    <div class="heading">
        <label class="logo">CSC648-02-fa22-team04</label>
        <nav>
            <ul>
              <li><a href="../views/pages/index.ejs">Home</a></li>
              <li><a href="../views/login.html">Login</a></li>
              <li><a href="../views/register.html">register</a></li>
              <li><a href="../views/about.html">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>

<% var category; %> 
<% var searchVal; %>

<div class="search-box">
    <select id="selection-box" class="selection-box" name="category" onchange="this.form(submit)">
      <option value="">All Categories</option>
      <option value="AI" <% if (category == "AI") { %> selected <% } %> >AI</option>
      <option value="Software Dev" <% if (category == "Software Dev") { %> selected <% } %> >Software Dev</option>
      <option value="Web Dev" <% if (category == "Web Dev") { %> selected <% } %> >Web Dev</option>
      <option value="UX Designer" <% if (category == "UX Designer") { %> selected <% } %> >UX Designer</option>
      <option value="Mobile App" <% if (category == "Mobile App") { %> selected <% } %> >Mobile App</option>
      <option value="IT" <% if (category == "IT") { %> selected <% } %> >IT</option>
      <option value="Security" <% if (category == "Security") { %> selected <% } %> >Security</option>
      <option value="System Architect" <% if (category == "System Architect") { %> selected <% } %> >System Architect</option>
      <option value="Video Game Dev" <% if (category == "Video Game Dev") { %> selected <% } %> >Video Game Dev</option>
    </select>

    <div id="text-search" class="text-search">
      <form action="">
        <input id="search" type="search" value="<%= searchVal %> " name="search" placeholder="Search.." required>
        <i class="fa fa-search"></i>
        <button type="submit">Submit</button>
        <!-- <a href="/application/main.js" id="clear-btn">Clear</a> -->
      </form>
    </div>

</div>


<div class="side-bar">
  <div class="nav-tabs" role="ta">
      <div class="div1">
          <button class="tablinks" onclick="openCity(event, 'job-title-1')" id="defaultOpen">
              <h1>Job Title 1</h1>
              <h2>Company name</h2>
              <h3>Location</h3>
              <h4>Full-time</h4>
          </button>
      </div>
      <div class="div2">
          <button class="tablinks" onclick="openCity(event, 'job-title-2')">
              <h1>Job Title 2</h1>
              <h2>Company name</h2>
              <h3>Location</h3>
              <h4>Full-time</h4>
          </button>
      </div>
      <div class="div3">
          <button class="tablinks" onclick="openCity(event, 'job-title-3')">
              <h1>Job Title 3</h1>
              <h2>Company name</h2>
              <h3>Location</h3>
              <h4>Full-time</h4>
          </button>
      </div>
      <div class="div4">
          <button class="tablinks" onclick="openCity(event, 'job-title-4')">
              <h1>Job Title 4</h1>
              <h2>Company name</h2>
              <h3>Location</h3>
              <h4>Full-time</h4>
          </button>
      </div>
      <div class="div5">
          <button class="tablinks" onclick="openCity(event, 'job-title-5')">
              <h1>Job Title 5</h1>
              <h2>Company name</h2>
              <h3>Location</h3>
              <h4>Full-time</h4>
          </button>
      </div>
  </div>

  <div class="text-bar">
      <div id="job-title-1" class="tabcontent">
          <h3>Job Title 1</h3>
          <p>Description...</p>
      </div>
    
      <div id="job-title-2" class="tabcontent">
          <h3>Job Title 2</h3>
          <p>Description...</p> 
      </div>
    
      <div id="job-title-3" class="tabcontent">
          <h3>Job Title 3</h3>
          <p>Description...</p>
      </div>

      <div id="job-title-4" class="tabcontent">
          <h3>Job Title 4</h3>
          <p>Description...</p> 
      </div>
    
      <div id="job-title-5" class="tabcontent">
          <h3>Job Title 5</h3>
          <p>Description...</p>
      </div>
  </div>
</div>

  <!-- <div style="padding-left:16px">
    <h2>Responsive Search Bar</h2>
    <p>Navigation bar with a search box and a submit button inside of it.</p>
    <p>Resize the browser window to see the responsive effect.</p>
  </div> -->


<script>
  $( document ).ready(function() {
    <% for (var i = 0; i < searchResult.length; i++) { %>
      document.getElementById('result').innerHTML += '<p> <%= searchResult[i]['ID'] %>.<%= searchResult[i]['Name'] %> </p>'
   <% }  %> 
  });

  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<div id="result" >

</div>
</body>
</html>