<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/nav_bar.css" rel="stylesheet" type="text/css">
    <link href="../css/login.css" rel="stylesheet" type="text/css">
    <title>CSC648-02-fa22-team04</title>
</head>

<header>
    <div class="heading">
        <label class="logo">CSC648-02-fa22-team04</label>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/login.html">Login</a></li>
                <li><a href="../views/register.html">register</a></li>
                <li><a href="../views/about.html">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>


<body>
    <script src="../main.js"></script>
    <!-- <div class="background-image"></div> -->

    <div class="container">
        <form class="form" id="createAccount" action="/post">
            <h1 class="form_title">Create Account</h1>
            <div class="form_message form_message-error"></div>
            <div class="form_input-group">
                <input type="text" class="form_input" id="username" autofocus placeholder="Username">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form_input-group">
                <input type="text" class="form_input" id="name" autofocus placeholder="Name">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form_input-group">
                <input type="text" class="form_input" id="email" autofocus placeholder="Email Address">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form_input-group">
                <input type="password" class="form_input" id="password" autofocus placeholder="Password">
                <div class="form_input-error-message"></div>
            </div>
            <div class="form_input-group">
                <input type="password" class="form_input" autofocus placeholder="Confirm password">
                <div class="form_input-error-message"></div>
            </div>
            <div class="radio-button">
                <input type="radio" id="html" name="fav-language" value="HTML">
                <label for="student">Student</label>
                <input type="radio" id="html" name="fav-language" value="HTML">
                <label for="student">Employee</label>
            </div>
            <button class="form_button" type="submit">Continue</button>
            <p class="form_text">
                <a href="" class="form_link">Forgot your password?</a>
            </p>
            <p class="form_text">
                <a class="form_link" href="./login.html" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>

    </div>

    
    
</body>

</html>