body.container{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    /* --border-radius: 4px; */

    /* left: 50%; */
    /* margin: 50%; */
    /* height: 100vh; */
    /* display:flex; */
    /* justify-content: center;
    align-items: center;
    justify-items: center; */
    /* font-size: 18px; */
    /* background: var(--color-primary); */
}

.container{
    max-width: 400px;
    margin: 5% 0 0 35%;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.container,
.form_input,
.form_button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success {
    color: #4bb544;
}

.form_message-error {
    color: #cc3333;
}

.form_input-group {
    margin: 1rem;
}

.form_input {
    display:blocks;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
    border-color: rgb(5, 91, 221);
    background: #ffffff;
}

.form_input-error {
    color: #cc3333;
    border-color: #cc3333;
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #cc3333;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointers;
    background-color: #2119c1;
}

.form_button:hover {
    background: #1e1979;
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointers;
}

.form_link:hover {
    text-decoration: underline;
}


.radio-button {
    /* width: 250px; */
    margin-left: 23%;
    padding: 1rem;
}

.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

