body {
	margin: 0;
	background: #f4f4ff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

/* .background-image {
  background-image: url(.\image\sfsu-image.jpg);

} */

.grid {
    grid-row-gap: 24px;
    -ms-grid-columns: 1.25fr 1fr 1fr 1fr;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
    -ms-grid-rows: minmax(119px, 2.25fr) auto;
    grid-template-rows: minmax(119px, 2.25fr) auto;
}

.team-circles {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
}

.team-container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.team-heading {
    margin-bottom: 16px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.team-subheading {
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.team-grid {
    display: -ms-grid;
    display: grid;
    margin-top: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.team-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.team-member-image {
    width: 270px;
    height: 270px;
    margin-bottom: 24px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-member-name {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.team-member-position {
    margin-bottom: 24px;
}

.team-container .team-grid .team-card .button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.team-container .team-grid .team-card .button a {
  background-color: #3d3d3d;
  padding: 3px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.team-container .team-grid .team-card .button a:hover {
  background-color: #2a41a5;
  color: #fff;
}



/* @media screen and (min-width: 1440px) {
    .team-member-image {
      width: 270px;
      height: 270px;
      max-height: none;
    }
}

@media screen and (max-width: 991px) {
    .team-container {
      max-width: 728px;
    }
  
    .team-grid {
      grid-column-gap: 40px;
    }
  
    .team-member-image {
      width: 190px;
      height: 190px;
    }
  }

@media screen and (max-width: 767px) {
    .team-circles {
      padding: 60px 15px;
    }
  
    .team-grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 479px) {
    .container {
      max-width: none;
    }
  
    .centered-heading {
      margin-bottom: 24px;
    }
  
    .team-grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
} */

#one {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#two {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#three {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#four {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#five {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#siz {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

@media screen and (min-width: 1440px) {
    #two {
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
  
    #three {
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;

}

.content-section .social {
    margin-top: 40px;
}

.content-section .social i {
    color: #2a4ba5;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #5d5d5d;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title {
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button a {
        padding: 9px 20px;
    }
    .content-section .social {
        text-align: center;
    }
  }